.container {
  width: 1520px;
  line-height: 1.5;
}


body {
  background-color: #fecea8;
}


h2 {
  color: #e84a5f;
  font-style: italic;
    font-family: 'Simonetta', cursive;
}

hr {
  border-style: none;
  border-top-style: dotted;
  color: #ff847c;
  border-width: 6px;

  width: 100%;
}


@media screen and (max-width: 1025px) {
  .container {
    width: 100%;
  }

  h2 {
    font-size: 500%;
    text-align: center;
  }

  p {
    font-size: 200%;
    text-align: center;
  }

  hr {
    border-width: 12px;
  }

  .i-1 {
   font-size: 100%;
  }


  .i-2 {
     font-size: 100%;
  }

  .i-3 {
    font-size: 100%;
  }

  .l-1 {
    font-size: 100%;
  }

  .l-2 {
    font-size: 100%;
  }

  .t-1 {
    font-size: 100%;
  }

  .bottom-container {
     text-align: left;
     font-size: 200%;
  }
}
